<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/board.css" />
    <link rel="stylesheet" href="/css/navBar.css" />
  </head>
  <body>
    <div class="board_container">
      <div class="board_top">
        <div class="board_title">Amazon</div>
        <div class="board_search_box">
          <form
            action="/board/search"
            method="post"
            class="board_search_box_form"
          >
            <input
              type="text"
              name="searchKey"
              id="searchKey"
              placeholder="search"
              class="board_search_box_input"
            />
            <select
              class="board_search_box_select"
              name="searchType"
              id="searchType"
            >
              <option value="T_ID" id="T_ID">팀 명</option>
              <option value="U_ID" id="U_ID">아이디</option>
              <option value="P_TITLE" id="P_TITLE">글제목</option>
              <option value="P_CONTENT" id="P_CONTENT">글내용</option>
            </select>
            <button type="submit" class="board_search_box_btn">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="1.8rem"
                height="1.8rem"
                viewBox="0 0 24 24"
              >
                <path
                  fill="#fff"
                  fill-rule="evenodd"
                  d="M18.319 14.433A8.001 8.001 0 0 0 6.343 3.868a8 8 0 0 0 10.564 11.976l.043.045l4.242 4.243a1 1 0 1 0 1.415-1.415l-4.243-4.242zm-2.076-9.15a6 6 0 1 1-8.485 8.485a6 6 0 0 1 8.485-8.485"
                  clip-rule="evenodd"
                />
              </svg>
            </button>
          </form>
        </div>
      </div>
      <%- include ('../default/navBar') %>
      <div class="board_main">
        <div class="board_blank"></div>
        <div class="board_content">
          <div class="board_controller">
            <form
              action="/board/lineUP"
              method="post"
              class="board_controller_form"
            >
              <select name="lineType" id="lineType">
                <option value="P_HITD" id="P_HITD">조회수 많은 순</option>
                <option value="P_HITA" id="P_HITA">조회수 적은 순</option>
                <option value="P_REPD" id="P_REPD">댓글 많은 순</option>
                <option value="P_REPA" id="P_REPA">댓글 적은 순</option>
                <option value="P_DATEN" id="P_DATEN">작성일자 최신 순</option>
                <option value="P_DATEO" id="P_DATEO">작성일자 오래된 순</option>
              </select>
              <button type="submit">정렬하기</button>
            </form>
            <a class="board_write" href="/board/write_form">글 작성</a>
          </div>
          <br />
          <div class="board_table" id="main">
            <table>
              <tr>
                <th>번호</th>
                <th>아이디</th>
                <th>제목</th>
                <th>날짜</th>
                <th>조회수</th>
              </tr>
              <% if (list.length == 0) { %>
              <tr>
                <th colspan="7">등록된 글이 없습니다</th>
              </tr>
              <% } else { list.forEach(data => { %>
              <tr>
                <td><%= data.P_ID %></td>
                <td><%= data.U_ID %></td>
                <td>
                  <a href="/board/detail/<%= data.P_ID %>">
                    <%= data.P_TITLE %>
                  </a>
                </td>
                <td><%= data.P_DATE %></td>
                <td><%= data.P_HIT %></td>
              </tr>
              <% }) } %>
            </table>
            <div class="board_paging">
              <tr>
                <td colspan="7">
                  <% if (start <= 1) { %>
                  <button disabled>이전</button>
                  <% } else { %>
                  <button
                    type="button"
                    onclick="location.href='/board/list?start=<%= start - 1 %>'"
                  >
                    이전
                  </button>
                  <% } for (let i = 1; i <= page; i++) { %>
                  <a href="/board/list?start=<%= i %>"><%= i %></a>
                  <% } if (start < page) { %>
                  <button
                    type="button"
                    onclick="location.href='/board/list?start=<%= start + 1 %>'"
                  >
                    다음
                  </button>
                  <% } else { %>
                  <button disabled>다음</button>
                  <% } %> <%= start %> / <%= page %>
                </td>
              </tr>
            </div>
          </div>
        </div>
        <div class="board_blank"></div>
      </div>
    </div>
  </body>
</html>
