<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <%# 비슷한 양식을 사용할 일이 많았기 때문에 form이나 content_wrap 클래스 등 공통적인 요소는 default.css에서 작업 %>
    <%# 그때그때 달라지는 요소들은 추가로 css 파일을 만들어서 보기 편하게 %>
    <link rel="stylesheet" href="css/calendar.css">
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/todolist.css">
    <link rel="stylesheet" href="css/board_index.css">
    <link rel="stylesheet" href="css/index.css">

</head>
    <body>
        <%# 메뉴부분과 다른 부분을 합치기 위한 div %>
    <div id="main_wrap">
        <%# 껍질 미리 깐 메뉴 %>
        <%- include ('./default/header') %>
        <div id="inside_wrap">
        <%# 껍질 미리 깐 캘린더%>
        <%- include ('./default/calendar') %>
        
        <div id="middle">
        <%# 내 일정에 적어놓은 메모까지 볼 수 있는 위젯. 단 수정,삭제는 불가 %>
        <div id="calender_list" class="wrap">
            <div class="mainTitle">일정</div>
            <div id="content">
                <% for (i=0;i<calendar.length;i++) { %>
                    <div id="content_wrap" class="content">
                        <div name="C_TITLE" id="calendar_title-<%= calendar[i].C_ID %>"checked class="title"><%= calendar[i]['C_TITLE'] %></div>                        <div name="C_CONTENT" id="calendar_content-<%= calendar[i].C_ID %>"checke class="content"><%= calendar[i]['C_CONTENT'] %></div>
                        <div class="date_label">
                            시작 |<div name="C_STARTDATE" id="calendar_startdate-<%= calendar[i].C_ID %>"checked class="date"><%= calendar[i]['C_STARTDATE'] %></div>
                    </div>
                        <div class="date_label">
                            종료 |<div name="C_ENDDATE" id="calendar_enddate-<%= calendar[i].C_ID %>"checked class="date"><%= calendar[i]['C_ENDDATE'] %></div></div>
                </div>
            <% } %>
           
            </div>
        </div>

    </div>
        <%# 껍질 미리 깐 투두리스트%>
        <%- include ('./default/todolist') %>
   


        </div>
    </body>
</html>