<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/calendar.css">
    <script>
            // 수정 상태로 전환
    function enableEdit(calId) {
        console.log('calId',calId)
        const calTitle = document.getElementById(`calendar_title-${calId}`);
        const calContent = document.getElementById(`calendar_content-${calId}`);
        const calStartdate = document.getElementById(`calendar_startdate-${calId}`);
        const calEnddate = document.getElementById(`calendar_enddate-${calId}`);
        
        const editBtn = document.getElementById(`edit-btn-${calId}`);
        const deleteBtn = document.getElementById(`delete-btn-${calId}`);

        console.log(editBtn)
        
        // calendar_title을 수정 가능하게 만듬
        calTitle.contentEditable = true;
        calContent.contentEditable = true;
        //console.log(calStartdate.textContent.substr(0,10))
        calStartdate.innerHTML=`
            <input type='date' value='${calStartdate.textContent.substr(0,10)}'>
        `
        calEnddate.innerHTML=`
            <input type='date' value='${calEnddate.textContent.substr(0,10)}'>
        `
        // calTitle.style.backgroundColor = '#f0f0f0'; // 수정할 때 배경 색상 변경/

        // 버튼 텍스트를 '저장'으로 변경

        try {
            editBtn.innerHTML = `
            <svg width="13px" height="13px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">

    <g>
        <path fill="none" d="M0 0h24v24H0z"/>
        <path fill="rgb(100, 100, 100)" d="M18 21v-8H6v8H4a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h13l4 4v13a1 1 0 0 1-1 1h-2zm-2 0H8v-6h8v6z"/>
    </g>
</svg>
`;
        editBtn.setAttribute('onclick', `saveEdit(${calId})`);
        } catch (error) {
            console.log(error)
        }

    }
        function saveEdit(calId) {
            const newTitle = document.getElementById(`calendar_title-${calId}`).textContent;
            const newContent = document.getElementById(`calendar_content-${calId}`).textContent;
            const newStartdate = document.getElementById(`calendar_startdate-${calId}`).querySelector("input").value;
            const newEnddate = document.getElementById(`calendar_enddate-${calId}`).querySelector("input").value;

            console.log('id', calId)
            console.log('title',newTitle)
            console.log('content',newContent)
            console.log('date',newStartdate,'~~',newEnddate)
//수정된 내용을 서버로 전송
        fetch('/calendar/modify', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({
                C_ID: calId,
                C_TITLE: newTitle,
                C_CONTENT: newContent,
                C_STARTDATE: newStartdate,
                C_ENDDATE: newEnddate
            })
        })
        .then(res => res.json())
        .then(data => {
            console.log('data',data)
            if (data) {
                alert("수정 완료!");
                const calTitle = document.getElementById(`calendar_title-${calId}`);
                calTitle.contentEditable = false; // 수정 불가 상태로 변경
                calTitle.style.backgroundColor = ''; // 배경 색상 초기화
                const editBtn = document.getElementById(`edit-btn-${calId}`);
                try {
                    editBtn.innerHTML = `
<svg width="13px" height="13px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <title>save-floppy</title>
    <desc>Created with Sketch Beta.</desc>
    <defs>

</defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <g id="Icon-Set-Filled" sketch:type="MSLayerGroup" transform="translate(-154.000000, -517.000000)" fill="rgb(100, 100, 100)">
            <path d="M172,522 C172,521.447 172.448,521 173,521 C173.552,521 174,521.447 174,522 L174,526 C174,526.553 173.552,527 173,527 C172.448,527 172,526.553 172,526 L172,522 L172,522 Z M163,529 L177,529 C177.552,529 178,528.553 178,528 L178,517 L162,517 L162,528 C162,528.553 162.448,529 163,529 L163,529 Z M182,517 L180,517 L180,529 C180,530.104 179.104,531 178,531 L162,531 C160.896,531 160,530.104 160,529 L160,517 L158,517 C155.791,517 154,518.791 154,521 L154,545 C154,547.209 155.791,549 158,549 L182,549 C184.209,549 186,547.209 186,545 L186,521 C186,518.791 184.209,517 182,517 L182,517 Z" id="save-floppy" sketch:type="MSShapeGroup">

</path>
        </g>
    </g>
</svg>
`; //
                editBtn.setAttribute('onclick', `enableEdit(${calId})`);

        } catch (error) {
            console.log(error)
        }
            } else {
                alert("수정 실패!");
            }
        });
        location.reload(true);
    }
    function deleteBtn(calId) {
        fetch('/calendar/delete', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({
                C_ID: calId
            })
        })
        .then(res => res.json())
        location.reload(true);

    }
    </script>
</head>
<body>
    <div id="main_wrap">
        <%- include ('../default/header') %>

        <div id="inside_wrap">
            <%- include ('../default/calendar') %>
            <div id="calendar_wrap" class="wrap">
            <div class="mainTitle">새 일정</div>
            <form action="/calendar/write" method="post" id="calendar_form" class="form">
                <textarea name="C_TITLE" class="title_form"  maxlength="20" placeholder="제목"></textarea>
                <textarea name="C_CONTENT" id="cal_content" class="content_form" placeholder="내용"></textarea>
                <div class="date_label">시작 |
                <input type="date" name="C_STARTDATE" id="cal_startDate">
                </div>
                <div class="date_label">종료 |
                <input type="date" name="C_ENDDATE" id="cal_endDate">
                </div>
                <input type="submit" value="추가">
            </form>
            <div id="schedules" class="toolbar_wrap">
                <div id="content">
                    <% for (i=0;i<calendar.length;i++) { %>
                        <div id="content_wrap" class="content">
                            <div name="C_TITLE" id="calendar_title-<%= calendar[i].C_ID %>"checked class="title"><%= calendar[i]['C_TITLE'] %></div>                        <div name="C_CONTENT" id="calendar_content-<%= calendar[i].C_ID %>"checke class="content"><%= calendar[i]['C_CONTENT'] %></div>
                            <div class="date_label">
                                시작 |<div name="C_STARTDATE" id="calendar_startdate-<%= calendar[i].C_ID %>"checked class="date"><%= calendar[i]['C_STARTDATE'] %></div>
                        </div>
                            <div class="date_label">
                                종료 |<div name="C_ENDDATE" id="calendar_enddate-<%= calendar[i].C_ID %>"checked class="date"><%= calendar[i]['C_ENDDATE'] %></div></div>
                        
                            <div class="icon_wrap">
                                <button id="edit-btn-<%= calendar[i]['C_ID'] %>" onclick="enableEdit(<%= calendar[i]['C_ID'] %>)" class="icon">
                                    <svg  width="13px" height="13px" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" >
                                        <path d="M8.29289 3.70711L1 11V15H5L12.2929 7.70711L8.29289 3.70711Z" fill="rgb(100, 100, 100)"/>
                                        <path d="M8.29289 3.70711L1 11V15H5L12.2929 7.70711L8.29289 3.70711Z" fill="rgb(100, 100, 100)"/>
                                        <path d="M9.70711 2.29289L13.7071 6.29289L15.1716 4.82843C15.702 4.29799 16 3.57857 16 2.82843C16 1.26633 14.7337 0 13.1716 0C12.4214 0 11.702 0.297995 11.1716 0.828428L9.70711 2.29289Z" fill="rgb(100, 100, 100)"/>
                                        <path d="M9.70711 2.29289L13.7071 6.29289L15.1716 4.82843C15.702 4.29799 16 3.57857 16 2.82843C16 1.26633 14.7337 0 13.1716 0C12.4214 0 11.702 0.297995 11.1716 0.828428L9.70711 2.29289Z" fill="rgb(100, 100, 100)"/>
                                        </svg>
                                </button>
                                <button id="deleteBtn-<%= calendar[i]['C_ID'] %>" onclick="deleteBtn(<%= calendar[i]['C_ID'] %>)" class="icon">
                                <button id="deleteBtn-<%= calendar[i]['C_ID'] %>" onclick="deleteBtn(<%= calendar[i]['C_ID'] %>)" class="icon">
                                    <svg width="13px" height="13px" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M4 2H1V4H15V2H12V0H4V2Z" fill="rgb(100, 100, 100)"/>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M3 6H13V16H3V6ZM7 9H9V13H7V9Z" fill="rgb(100, 100, 100)"/>
                                        </svg>
                                        </button>
                                        </form>
                            </div>
                    </div>
                <% } %>
               
                </div>
            </div>
        </div>
    </div>
    </div>

</body>
</html>